@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4 auth" style="background-color: #555;">
            <LoginDisplay /><Notes2022RCL.Menus.NavMenu />
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    public MainLayout()
    {
        
    }
}
