
@inject IModalService Modal


<div class="dialogs">
    <h3>Private talk: @userName - @toName</h3>
    Message: <input @bind="messageInput" size="100" />
    <button type="button" @onclick="Send">Send</button> <button type="button" @onclick="Cancel">Quit</button>

<hr />

<ul id="messagesList">
    @foreach (string message in messages)
    {
        <li>@message</li>
    }
</ul>
</div>
