@inject Notes2022Server.Notes2022ServerClient AuthClient

<h3>Change Password</h3>

                <EditForm id="resetform" Model="@Input">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-floating">
                        <strong>Old Password</strong>
                        <InputText type="password" placeholder="Password" id="password0" @bind-Value="Input.OldPassword" class="form-control medium-input-minus" /> 
                    </div>
                    <div class="form-floating">
                        <strong>New Password</strong>
                        <InputText type="password" placeholder="Password" id="password" @bind-Value="Input.Password" class="form-control medium-input-minus" /> 
                    </div>
                    <div class="form-floating">
                        <strong>Confirm New Password</strong>
                        <InputText type="password" placeholder="Password" id="password2" @bind-Value="Input.Password2" class="form-control medium-input-minus" /> 
                    </div>

                    <div class="error">
                        <strong>@Message</strong>
                    </div>
                    <div>
                        <br/>
                        <SfButton @onclick="GotoChange" class="logbutton">Register</SfButton>
                    </div>

                </EditForm>
